{% extends 'base.html.twig' %}

{% block title %}Reusiix - Home{% endblock %}

{% block main %}
    <section id="section-home-1" class="mt-5">
        <h1 class="text-center font-size-3 mt-4">Louez les objets dont vous avez besoin, <br>quand vous en avez besion !
        </h1>
        <p class="text-center fs-5 mt-3">Réduisez vos dépenses et adoptez une consommation plus responsable <br>en
            louant des objets près de chez vous.</p>
        <div class="d-flex justify-content-center">
            <a href="#" class=" bg-theme-dark text-white fw-bold py-3 px-5 rounded-pill">Déposer une annonce </a>
        </div>
    </section>

    <section class="bg-theme-dark text-white rounded-4 d-flex mt-5 py-9 row" id="section-home-2">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 ps-5 pt-xs-0 pt-sm-0 pt-md-0 pt-lg-5">

            <h2 class="font-size-3 mt-5 mb-3">Plus de 5 000 objets disponibles à la location</h2>
            <a href="#" class="btn btn-light rounded-pill mb-5">Voir les objets</a>

        </div>

        <div id="carousel-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-8  pb-xs-3 pb-sm-3 pb-md-3 pb-lg-0 d-flex">
            <div class="carousel-wrapper overflow-hidden position-relative col-12">
                <div class="carousel-track d-flex">
                    {% for category in categories %}
                        <a href="{{ path('app_device_search', {filters: {category: category.slug}})}}" class="carousel-card text-white mx-2 col-xs-6 col-sm-6 col-xs-6 col-lg-3 rounded-4 d-block">
                            <div class="bg-danger py-6 rounded-4 mb-3 h-100">
                                <h3 class="fs-4 text-wrap text-xs-center text-sm-center text-md-center text-lg-start
                                 px-5 col-12">{{ category.name }}</h3>
                            </div>

                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>


    </section>

    <section id="section-home-3" class="mt-5">
        <div id="how">
            <h2 class="text-center fs-2 fw-bold">Comment ça marche ?</h2>
            <p class="text-center fst-italic">Louer un objet, c'est simple comme bonjour !</p>
            <p class="text-center fw-bold mb-0">Étapes :</p>
            <div class="d-flex flex-column justify-content-center align-items-center ">
                <ul>
                    <li class="text-start"><span class="fw-bold text-end">Recherchez </span><i
                                class="bi bi-arrow-right"></i> Trouvez l’objet qu’il vous faut parmi des centaines
                        d’annonces.
                    </li>
                    <li class="text-start"><span class="fw-bold text-end">Contactez </span><i
                                class="bi bi-arrow-right"></i> Discutez avec le propriétaire pour convenir des détails.
                    </li>
                    <li class="text-star"><span class="fw-bold">Réservez </span><i class="bi bi-arrow-right"></i>
                        Mettez-vous d’accord sur les dates et le mode d’échange.
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <section class="row justify-content-center mt-5" id="section-home-4">

        <div class="col-10 col-lg-4 mb-3 mb-lg-0 bg-white me-3 rounded-4 p-5">
            <p class="color-theme-gray-2 h2 fs-6 mb-3">Propriétaire</p>
            <h2 class="fs-1 mb-3">Proposez vos objets et gagnez de l’argent</h2>
            <p class="fst-italic mb-3">Avez-vous des outils, du matériel high-tech ou des équipements de sport qui
                dorment chez vous ? Proposez-les à la location et rendez service à votre voisinage !</p>
            <p class="h6">Rentabilisez vos objets inutilisés ou utilisés</p>
            <div class="d-flex justify-content-center mb-3">
                <img src="{{ asset('/img/home/model-4.png') }}" alt="" class="col-10 mx-auto">
            </div>
        </div>

        <div class="col-10 col-lg-4 bg-white me-3 rounded-4 p-5">
            <p class="color-theme-gray-2 h2 fs-6 mb-3">Loueur</p>
            <h2 class="fs-1 mb-3">Trouvez ce dont vous avez besoin à petit prix</h2>
            <p class="fst-italic mb-3">Pas envie d’acheter un objet que vous utiliserez rarement ? Louez-le à un
                particulier près de chez vous et profitez d’un service pratique et économique !</p>
            <div class="d-flex justify-content-center">
                <img src="{{ asset('/img/home/model-3.png') }}" alt="" class="col-10 mx-auto">
            </div>
        </div>
    </section>
    <section class="mt-5" id="section-home-5">
        <h2 class="text-center fs-2 fw-bold">Ils nous font déjà confiance !</h2>

        <div class="carousel-container position-relative overflow-hidden m-auto col-10 col-lg-5 mt-5 py-3 ">
            {% for slide in slides %}
                <div class="carousel-slide py-5 col-12 col-lg-8  mx-auto bg-theme-yellow-2  rounded-3 {{ loop.first ? 'active' : '' }}">

                    <div class="bg-white col-9 px-4 py-4 rounded-3 mx-auto">
                        <!-- Les étoiles -->
                        {% for i in 1..5 %}
                            <span class="me-1"><i class="bi bi-star-fill fs-4 color-theme-yellow"></i></span>
                        {% endfor %}
                        <p>{{ slide.auteur }}</p>

                        <p class="h6"> {{ slide.text|length > 100 ? slide.text |slice(0, 100) ~ '...' : slide.text }} </p>
                    </div>
                </div>
            {% endfor %}

            <div class="carousel-buttons position-absolute d-flex justify-content-between col-12 top-50">
                <button id="carousel-prev" class="width-height-2 carousel-prev border-0 bg-theme-dark text-white rounded-circle"><i
                            class="bi bi-chevron-left fw-bold "></i></button>
                <button id="carousel-next" class="carousel-next width-height-2 border-0 bg-theme-dark text-white rounded-circle"><i
                            class="bi bi-chevron-right"></i></button>
            </div>
        </div>

    </section>


{% endblock %}





