{% extends 'base.html.twig' %}

{% block title %}RentSwap - {{ device.title }}{% endblock %}

{% block main %}

    {% set imagesDevice = device.devicePictures | length > 0 ? device.devicePictures : null %}
    {% set userDevice = device.user %}
    {% set categories = device.categories %}
    {% set user = app.user %}
    {% set isFavorite = favorite is null ? false : favorite.isFavorite %}

    <input type="hidden" value="{{ coordonates.lat }}" id="lat">
    <input type="hidden" value="{{ coordonates.lon }}" id="lon">
    <input type="hidden" value="{{ device.slug }}" id="id-slug">

    <section id="section-show-1" class="mt-5">

        <article class="position-relative">
                <div class="position-relative overflow-hidden carousel-container col-12 py-5 rounded-3 mx-auto">
                    {% if imagesDevice is not null %}
                        {% for picture in imagesDevice %}
                            <div class="carousel-slide px-auto col-10 mx-auto h-50 rounded-5 ">
                                <div class="col-12 h-100 d-flex justify-content-center">
                                    <img class='h-auto object-fit-contain rounded-5 mw-100 mh-100 w-auto'
                                         src="{{ asset('upload/devices/' ~ picture.filename ) }}"
                                         alt="{{ picture.alt }}" title="{{ picture.title }}">
                                </div>
                            </div>

                        {% endfor %}
                    {% endif %}

                    <div class="col-3 py-3 mx-auto d-flex justify-content-center mt-2 bottom-0 px-5">
                        {% if user %}
                            <button class="py-3 px-3 me-2 bg-white rounded-4 bg-theme-gray-3 border-0 card-zoom"
                                    id="btn-favorite" data-slug="{{ device.slug }}">
                                <i class="bi {{ isFavorite ? 'color-theme-yellow bi-heart-fill' : 'text-dark bi-heart'  }} fs-3"></i>
                            </button>
                            <a href="{{ path('app_conversation_send_new', { slugDevice: device.slug }) }}" class="py-3 px-3 me-2 bg-white rounded-4 bg-theme-gray-3 border-0 card-zoom contact-user" title="Contacter {{ userDevice.firstname | capitalize }}"><i class="text-dark bi bi-chat-square fs-3"></i></a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="py-3 px-3 me-2 bg-white rounded-4 bg-theme-gray-3 border-0 card-zoom"><i class="text-dark bi bi-heart fs-3"></i></a>
                            <a href="{{ path('app_login') }}" class="py-3 px-3 me-2 bg-white rounded-4 bg-theme-gray-3 border-0 card-zoom contact-user" title="Contacter {{ userDevice.firstname | capitalize }}"><i class="text-dark bi bi-chat-square fs-3"></i></a>
                        {% endif %}
                    </div>
                    {% if imagesDevice is not null %}
                        <div class="carousel-buttons position-absolute d-flex justify-content-between col-12 top-50 px-5">
                            <button class="width-height-2 carousel-prev border-0 bg-theme-dark text-white rounded-circle">
                                <i class="bi bi-chevron-left fw-bold "></i></button>
                            <button class="carousel-next width-height-2 border-0 bg-theme-dark text-white rounded-circle">
                                <i class="bi bi-chevron-right"></i></button>
                        </div>
                    {% endif %}
                </div>

            <div class="mb-4 col-6 mx-auto">
                <h1 class="fs-2 fw-600 text-capitalize">{{ device.title }}</h1>
                <div class="fs-5 fw-500">{{ device.price|number_format(2, ',', ' ') }} €</div>
            </div>

            <div class="mb-4 col-6 mx-auto">
                <h2 class="fs-5 fw-400 color-theme-gray-4">Description</h2>
                <div class="mx-auto">{{ device.body }}</div>
            </div>


        </article>
        {#    description #}
        <article class="d-flex flex-wrap col-6 mx-auto">
            {#        user contact #}
            <div class="col-12 mb-3">
                <hr>
                <h2 class="fs-5 fw-400 color-theme-gray-4 mb-3">Propriétaire</h2>

                <div class="rounded-5 col me-3 py-4 bg-white">
                    <div class="d-flex align-items-center">
                        <div class="col-1 rounded-circle"><img src="{{ asset(userDevice|pathAvatarUser) }}"
                                                               alt="Avatar utilisateur" class="col-12 rounded-circle"></div>
                        <div class="ms-3">
                            <h2 class="fs-5 fw-400">{{ userDevice.firstname }} {{ userDevice.lastname }}</h2>
                            <a href="">{{ devicesUser | length }} annonces</a>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <a
                                {% if user %} href="{{ path('app_conversation_send_new', { slugDevice: device.slug }) }}"
                                    {% else %} href="{{ path('app_login') }}"
                                {% endif %}
                           class="bg-theme-dark text-white border-0 px-3 py-2 rounded-pill text-center col-10">Message
                        </a>
                    </div>
                </div>
            </div>
            {#        description #}
            <div class="rounded-5 col-12">
                <hr>
                <h2 class="fs-5 fw-400 color-theme-gray-4 mb-3">Catégories</h2>
                <ul class="row ps-0">
                    {% for category in categories %}
                        <a href="{{ path('app_device_search', {filters: {category: category.slug}})}}" class="bg-danger col-3 rounded-4 m-1 p-5 text-white card-zoom shadow-sm">{{ category.name }}</a>
                    {% endfor %}
                </ul>

            </div>

        </article>

        {#    produit simulaire #}
        <article class="row">
            <div class="mt-5 col-6 mx-auto">
                <hr>
                <h2 class="fs-5 fw-400 color-theme-gray-4 mb-3"><i class="bi bi-geo-alt-fill"></i> {{ device.location }}
                </h2>
                <div id="map" class="rounded-5 col-12"></div>
            </div>
        </article>

        <article class="col-6 mx-auto">
            <div class="container mx-auto">
                <hr>
                <h2 class="fs-5 fw-400 color-theme-gray-4 mt-3 mb-3">Ces annonces peuvent vous intéresser</h2>

                {% include '_partial/device/carousel.html.twig' with {
                    devices: devicesSimilar
                } %}
            </div>
        </article>

    </section>


{% endblock %}