{% extends 'admin/base.html.twig' %}

{% block title %}Reusiix - Détail appareil{% endblock %}

{% block main %}

<h1 class="h3 mb-2 text-gray-800 fw-bolder">{{ user.username|capitalize }}</h1>

{% if user.isDeleted == true  %}
    {% set color = 'danger' %}
    {% set message = 'Compte supprimé' %}
{% elseif user.isVerified == false %}
    {% set color = 'danger' %}
    {% set message = "Compte pas encore verifié" %}

{% elseif user.isVerified == true %}
    {% set color = 'success' %}
    {% set message = "Compte verifié" %}

{% else %}
    {% set color = 'success' %}
    {% set message = "" %}

{% endif %}

{% include '_partial/alert_message.html.twig' with {
    color: color,
    messsage: message
} %}

{% set cards = [
    {
        title: 'Information',
        id: 'details',
        icon: 'eye',
        color: color
    },
    {
        title: 'Supprimer / Bannir',
        id: 'update',
        icon: 'pencil',
        color: color
    },
    {
        title: 'Envoyer un message',
        id: 'message',
        icon: 'chat',
        color: color
    },
    {
        title: 'Les appareils',
        id: 'device',
        icon: 'hdd',
        color: color,
        data: 10,
    }
] %}

{% if user.isVerified == false %}
    {% set cards = cards | merge([
        {
            title: 'Envoyer un mail de confirmation',
            id: 'confirm',
            pathname: 'app_admin_users_confirm',
            queryparams: { id: user.id },
            icon: 'envelope-check',
            color: color
        }
    ])

%}

{% endif %}

        {% set cards = cards | merge([
            {
                title: "Modifier le rôle de l'utilisateur",
                id: 'update-role',
                icon: 'person-up',
                color: color
            }
        ])
            %}

{% include 'admin/_partial/card_dashboard.html.twig' with {
    datas: [
        {
            title: '',
            cards: cards
        }

    ]
} %}


<div id="details" class="mb-5">
    <h3 class="px-1 fs-4 mb-3">Informations de l'utilisateur</h3>

    <div class="card shadow mb-4 rounded-4 py-4 px-3 border-1 border-{{ color }}">

        <div class="row gap-2 mb-2 px-4">
            <div class=" col-12 row">
                <h4 class="fs-6 fw-semibold col-2">Prénom</h4>
                <p class="col text-capitalize"> {{ user.firstname|capitalize }}</p>
            </div>

            <div class=" col-12 row">
                <h4 class="fs-6 fw-semibold col-2">Prénom</h4>
                <p class="col text-capitalize"> {{ user.lastname }}</p>
            </div>

            <div class="col-12 row">
                <h4 class="fs-6 fw-semibold col-2">Adresse email</h4>
                <p class="col">{{ user.email }}</p>
            </div>

            <div class="col-12 row">
                <h4 class="fs-6 fw-semibold col-2">Date de l'inscription</h4>
                <p class="col">{{ user.created|formatDateFr }}</p>
            </div>


        </div>

    </div>
</div>


<div id="update" class="mb-5">
    <h3 class=" fs-4 mb-3">Faire action sur cette annonce</h3>

    <div class="card rounded-4 px-4 py-4 border-1 border-{{ color }}">

        {{ form_start(form) }}

        <div class="mb-3 col-12 d-flex">
            <h4 class="text-{{ color }} fs-6">{{ message }}</h4>
        </div>

        <div class="mb-3 col-12 d-flex">
            <div class="col-2">
                {{ form_label(form.action, '', {
                    'label_attr' : {
                        'class': 'fw-semibold  form-label'
                    }
                }) }}
                <span class="text-danger">*</span>
            </div>

            <div>
                {{ form_widget(form.action, {
                    'attr': {
                        'class': 'form-select'
                    }
                }) }}
            </div>

        </div>

        <div class="mb-3 col-12 d-flex flex-wrap">
            <div class="col-2">
                {{ form_label(form.reason, '', {
                    'label_attr' : {
                        'class': 'fw-semibold form-label'
                    }
                }) }}
                <span class="text-danger">*</span>
            </div>

            <div class="col-6 px-0">
                {{ form_widget(form.reason, {
                    'attr': {
                        'class': 'form-control fw-semibold col-12',
                        'cols': "100",
                        'rows': "10",
                        'placeholder': "Motif"
                    }
                }) }}
            </div>

        </div>
        <div class="col-12 d-flex flex-wrap">
            <div class="col-2"></div>
            <button type="submit" class="btn btn-success">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>

</div>
<div id="historics" class="mb-3">
        <h3 class="px-1 fs-4 mb-3">Les appareils</h3>

        {% include 'admin/_partial/datatable.html.twig' with {
            id: 'devices-user-datatable',
            pathname: 'app_admin_devices_user',
            paramsRoute:{ id: user.id },
            header: [
                {
                    name: 'title',
                    label: 'titre',
                    class: 'col-3',
                    input:
                    {
                        name: 'title',
                        type: 'text'
                    }

                },
                {
                    name: 'price',
                    label: 'prix',
                    class: 'col-1'
                },
                {
                    name: 'status',
                    label: 'Status',
                    class: 'col-1',
                    select:
                    {
                        name: 'status',
                        options: [
                        { label: 'Selectionner', value: null, class: 'text-warning'},
                        { label: 'En attente', value: 'pending', class: 'text-warning'},
                        { label: 'Validé', value: 'validated', class: 'text-success'},
                        { label: 'Rejeté', value: 'rejected', class: 'text-danger'},
                        { label: 'Brouillon', value: 'draft', class: 'text-info'},
                    ]


                    }

                },
                {
                    name: 'location',
                    label: 'Ville',
                    class: 'col-2'
                },
                {
                    name: 'created',
                    label: 'Date de création',
                },
                {
                    name: 'updated',
                    label: 'Dernière modification'
                },
                {
                    name: 'show',
                    label: 'Voir le détail'
                }
            ]
        } %}
    </div>

{% if is_granted('ROLE_ADMIN') %}
    <div id="update-role" class="mb-3">
        <h3 class="px-1 fs-4 mb-3">Modifier le rôle</h3>
        <div class="card rounded-4 px-4 pt-4 border-1 border-{{ color }}">
            {{ form_start(formRole) }}

            <div class=" col-12 mb-2">{{ user.firstname|capitalize }} est actuellement <span class="fw-bolder">{{ user.roles|roleFr }}</span></div>


            <div class="mb-3 col-2 d-flex gap-2">


                {{ form_widget(formRole.role, {
                    'attr': {
                        'class': 'form-select'
                    }
                }) }}

                <button type="submit" class="btn btn-success">Modifier</button>

            </div>
            {{ form_end(formRole) }}
        </div>
    </div>
{% endif %}
{% endblock %}






