<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    <link rel="icon" href="{{ asset('img/logo/logo-reusiix.png') }}" type="image/svg">
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>
<body class="bg-theme-dark d-flex justify-content-center align-items-center vh-100">

<div class="col-6 p-5 bg-theme-gray rounded-5 position-relative">
    <a href="{{ path('app_home') }}" class="btn btn-dark position-absolute top-5 start-5"><i class="bi bi-house"></i></a>
{% block body %}{% endblock %}
</div>
</body>
</html>