{% extends 'base.html.twig' %}

{% block title %}Reusiix - Mesages{% endblock %}

{% block main %}


    {% set lengthConversations = conversations | length %}
    {% set userCurrent = app.user %}


    <section class="flex-grow-1 col-10 mt-5 mx-auto row gap-3 " id="section-message">
        <!-- Liste de conversations-->
        <article class="bg-white col-3 rounded-4 ps-4 pe-1 py-3 mx-auto" id="conversations">
            <h3 class="fs-5">Sélectionner</h3>

            <div id="content"></div>
            <ul class="px-0 h-100 {{ lengthConversations > 7 ? 'overflow-y-scroll' :'' }}" id="conversation-content">
                {% for conversation in conversations %}

                    {% set otherUser = conversation.users|filterUser(userCurrent.id) %}

                        {% set message = conversation.messages | last %}

                        {% if otherUser != userCurrent %}

                            <a href="{{ path('app_conversation_message_conversation_slug', {
                                slugConversation :conversation.slug
                            }) }}"
                               class="cursor-pointer row gap-2 my-3 conversation-list"
                            >
                                <div class="col-2 pe-0 rounded-circle">
                                    <img src="{{ asset('/img/avatars/' ~ otherUser.avatar) }}" alt="Avatar utilisateur"
                                         class="col-12">

                                </div>
                                <div class="col ps-0 d-flex justify-content-between me-3">
                                    <div class="mb-3">
                                        <h6 class="mb-0 fw-500">{{ otherUser.firstname | capitalize }} {{ otherUser.lastname | capitalize }}</h6>
                                        {#                                        <p class="mb-0 font-size-08">{{ message.content|length > 32 ? message.content|slice(0,32) ~ ' ...' : message.content }}</p> #}
                                    </div>

                                    <div>
                                        <p class="d-flex justify-content-end mb-0"><span
                                                    class="mb-0 text-white px-2 text-end rounded-2 bg-danger w-auto font-size-08">5</span>
                                        </p>
                                        <p class="mb-0 text-end">13:30</p>
                                    </div>
                                </div>
                            </a>
                        {% endif %}


                {% endfor %}
            </ul>

            <input type="hidden" name="author" value="{{ userCurrent.id }}">

        </article>

        <article class="col bg-white rounded-4 px-0 py-3 mx-auto " id="article-message">
            {% if slugConversation is defined %}
                {% set otherUser = currentConversation.users|filterUser(userCurrent.id) %}

                <div class="row justify-content-between border-1 border-bottom shadow-sm pb-3 px-4 pt-0 mb-3 mt-0 mx-0">
                    <!-- User -->
                    <a href="#" class="row col align-items-center">
                        <div class="col-2 rounded-circle ms-0">
                            <img src="{{ asset('/img/avatars/' ~ otherUser.avatar) }}" alt="Avatar utilisateur" class="col-12">
                        </div>
                        <div class="col ps-0">
                            <h4 class="ps-0 mb-0">{{ otherUser.firstname }} {{ otherUser.lastname }}</h4>
                            <span>5 annonces</span>
                        </div>

                    </a>
                    <!-- FIN User -->

                    <!-- Device -->
                    <div class="col row">
                        <a href="#" class="row gap">
                            <div class="col-3">
                                <img src="{{ asset('/uploads/devices/' ~ 'tech_image.jpg') }}" alt="appareil" class="col-12 rounded-4">
                            </div>
                            <div class="col">
                                <h5 class="col mb-0">Device 10 - Appareil photo</h5>
                                <p class="mb-0">30 $</p>
                            </div>
                        </a>
                    </div>
                    <!--FIN  Device -->
                </div>
                <!-- Fin entente content messages-->

                <!-- CONTENT MESSAGE -->
                <div>
                    <ul class="col-11 mx-auto overflow-y-auto px-3"
                        data-author="{{ userCurrent.id }}"
                        id="message-content"
                        hx-ext="sse"
                        sse-connect="{{ mercure(topic) }}"
                        sse-swap="messagessss"
                    >
                       {% include('conversation/messages.html.twig') %}
                    </ul>

                    <form
                            class="col-11 mx-auto row gap-2"
                            hx-post="{{ path('app_message_new') }}"
                            hx-swap="none"
                    >
                        <div class="col-11 px-0">
                            <textarea type="text" class="form-control rounded-3 py-2 resize-none" name="content" ></textarea>
                        </div>
                        <div class="col px-0 d-flex flex-column justify-content-center">
                            <button type="submit" class="col-12 py-2 rounded-3 border-0 bg-theme-yellow text-white "><i class="bi bi-send fs-3"></i></button>
                        </div>
                        <input type="hidden" name="slugConversation" value="{{ slugConversation }}">

                    </form>
                </div>
                <!-- FIN CONTENT MESSAGE -->
            {% endif %}
        </article>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const messages = document.getElementById('message-content')
            const conversations = document.querySelectorAll('.conversation-list')

            conversations.forEach((conversation) => {

                conversation.addEventListener('click', (event) => {
                    setTimeout(() => {
                        const element = document.querySelector('#message-content');
                        if (element) {
                            console.log('Élément trouvé !', element);
                        }
                    }, 1000);
                })
                console.log(conversation)
            })
        })


    </script>

{% endblock %}