{% set routeName = app.request.get('_route') %}
<header class="px-xs-3 px-sm-3 px-md-3 px-lg-5 py-4 box-shadow-fh d-flex align-items-center bg-white">
    <!-- Logo et Search -->
    <div class="col-xs col-sm col-md col-lg-5 row py-0 align-items-center">
        <div class="logo-content col-xs-4 col-sm-4 col-md-4 col-lg-3r">
            <a href="/" class="col-6">
                <img src="{{ asset('img/logo/logo-reusiix.png') }}" alt="Logo du site Rent Swap" class="col-9">
            </a>
        </div>
        <form action="{{ path('app_device_search') }}" class="col-xs-8 col-sm-8 col-md-8 col-lg">
            <div class=" col-12 position-relative" id="city-search-content">
                <input type="text" class="form-control rounded-3 py-2" id="search-item-header" autocomplete="off" value="" name="filters[title]">
                <button type="submit" class="input-group-text border-0 btn-empty-input cursor-pointer position-absolute bottom-5 end-1 z-3"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>


    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-7 d-flex align-items-center">
        <ul class="d-flex align-items-center justify-content-end col-12">
            {% if routeName == 'app_home' %}
                <li class="me-2 d-xs-none d-sm-none d-md-none d-lg-inline"><a href="#how" class="btn box-shadow-sm fw-bolder py-2">Comment ça marche ?</a></li>
            {% endif %}
            <li class="me-2">
                <a href="{{ path('app_user_create_device') }}" class="btn box-shadow-sm btn-dark border-dark border-xs-dark border-md-dark py-2">
                    <i class="bi bi-plus-square fs-5"></i><br>
                    <span class="me-2 d-xs-none d-sm-none d-md-none d-lg-inline">Déposer une annonce</span>
                </a>
            </li>
            {% if app.user %}
                <li class="me-2">
                    <a href="{{ path('app_user_favorites') }}"
                       class="btn box-shadow-sm fw-bolder border-dark py-2">
                        <i class="bi bi-heart fs-5"></i><br><span class="mx-2 d-xs-none d-sm-none d-md-none d-lg-inline">Favoris</span>
                    </a>
                </li>
                {% if app.user|conversationLength > 0 %}
                    <li class="me-2">
                        <a href="{{ path('app_conversation_show_all') }}"
                           class="btn box-shadow-sm fw-bolder border-dark py-2">
                            <i class="bi bi-chat-square-text fs-5"></i><br><span class="mx-2 d-xs-none d-sm-none d-md-none d-lg-inline">Messages</span>
                        </a>
                    </li>
                {% endif %}

                <li class="me-2">
                    <button class="btn box-shadow-sm fw-bolder border-dark py-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-gear fs-5"></i><br>
                        <span class="me-2 d-xs-none d-sm-none d-md-none d-lg-inline">{{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }}</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_user_home') }}">Mon profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_user_favorites') }}">Mes favoris</a></li>
                        {% if is_granted('ROLE_MODERATOR') %}
                            <li><a class="dropdown-item" href="{{ path('app_admin_dashboard') }}">Back office</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se deconnecter</a></li>
                    </ul>
                </li>

            {% else %}

                <li class="me-2">
                    <a href="{{ path('app_login') }}"
                       class="btn box-shadow-sm fw-bolder border-dark py-2">
                        <i class="bi bi-person fs-5"></i><br><span class="me-2 d-xs-none d-sm-none d-md-none d-lg-inline">Se Connecter</span>
                    </a>
                </li>
                <li class="me-2">
                    <a href="{{ path('app_register') }}" class="btn box-shadow-sm fw-bolder border-dark py-2">
                        <i class="bi bi-person-plus"></i><br>
                        <span class="me-2 d-xs-none d-sm-none d-md-none d-lg-inline">Créer un compte</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

</header>
