<div class="pagination-content col-auto mx-auto bg-white rounded-pill">

    <ul class="pagination d-flex justify-content-center mt-5">

        {% if nbPage > 1 %}

            {% set routeName =
                app.request.get('_route') == 'app_user_devices' ? 
                'app_user_devices' : 
                'app_device_search_by_form'
            %}

            {# Bouton "Précédent" #}
            <li class="{{ currentPage == 1 ? 'pointer-events-none' : 'cursor-pointer' }} rounded-3 p-2"
                hx-get="{{ path(routeName) ~ url|replacePage(currentPage-1, sort, status, title) }}"
                hx-target="#result"
                hx-swap="outerHTML"
                hx-push-url="true"
            >
                <i class="bi bi-chevron-left"></i>
            </li>

            {# Définition des limites de la pagination #}
            {% set startPage = 1 %}
            {% set endPage = nbPage %}

            {% if nbPage > 10 %}
                {% if currentPage <= 5 %}
                    {% set startPage = 1 %}
                    {% set endPage = 10 %}
                {% elseif currentPage >= nbPage - 4 %}
                    {% set startPage = nbPage - 9 %}
                    {% set endPage = nbPage %}
                {% else %}
                    {% set startPage = currentPage - 4 %}
                    {% set endPage = currentPage + 5 %}
                {% endif %}
            {% endif %}

            {# Affichage des boutons de pagination #}
            {% for page in startPage..endPage %}
                <li  class="{{ page == currentPage ? 'bg-theme-dark color-theme-white-2 active pointer-events-none': 'cursor-pointer' }} rounded-pill p-2"
                     hx-get="{{ path(routeName) ~ url|replacePage(page, sort, status, title) }}"
                     hx-target="#result"
                     hx-swap="outerHTML"
                     hx-push-url="true">
                        {{ page }}
                </li>
            {% endfor %}

            {# Bouton "Suivant" #}
            <li class="{{ currentPage == nbPage ? 'pointer-events-none' : 'cursor-pointer' }} rounded-3 p-2"
                hx-get="{{ path(routeName) ~ url|replacePage(currentPage+1, sort, status, title) }}"
                hx-target="#result"
                hx-swap="outerHTML"
                hx-push-url="true"
            >
                    <i class="bi bi-chevron-right"></i>
            </li>

        {% endif %}
    </ul>

</div>